<!doctype html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title> LakisG </title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="description" content="Some website with flask made by lakisg">
        <meta name="author" content="LakisG">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>
    
    <body>
        <header>
            <p class="title">
                Lakis' exercise project in webdev
            </p>
            <nav id="nav">
                <ul id="nav-list">
                    <a href="http://127.0.0.1:8000/home">
                        <li>Home</li>
                    </a>
                    <a href="http://127.0.0.1:8000/canvas">
                        <li>Canvas</li>
                    </a>
                    <a href="http://127.0.0.1:8000/about">
                        <li>About</li>
                    </a>
                    <a href="http://127.0.0.1:8000/contact">
                        <li>Contact</li>
                    </a>
                </ul>
            </nav>
        </header>
        
        
        {% block content%}
        {% endblock%}

        <footer>
            Footer<br>LakisG<br>some@thing.de<br>+49 1312<br>bla bla
        </footer>

        <script type="text/javascript" src="{{ url_for('static', filename='scripts/base.js')}}"></script>
    </body>
</html>
