{% extends 'base.html' %}

{% block content %}
    <div class="contact-logos">
        <a href="https://www.instagram.com/lukas.grnwald/">
            <img alt="Instagram" src="{{ url_for('static', filename='instagram-logo.png')}}">
        </a>
        <a href="https://steamcommunity.com/profiles/76561198213115640/">
            <img alt="Steam" src="{{ url_for('static', filename='steam-logo.png')}}">
        </a>
        <a href="https://github.com/HomPomSi">
            <img alt="GitHub" src="{{ url_for('static', filename='github-logo.svg')}}">
        </a>
        <a href="https://sopra.informatik.uni-stuttgart.de/LukasGruenwald">
            <img alt="GitLab" src="{{ url_for('static', filename='gitlab-logo.svg')}}">
        </a>
    </div>
{% endblock %}
