/* set different browser defaults to common default */
h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent; }

a {
    color: black;
}
a.visited {
    color: inherit;
}


/* base*/
html {
    background-color: #1f2f2f;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 4vw;
    color: #676767;
    text-align: center;
}

p.title {
    width: 100%;
    text-shadow: 3px 3px #222;
}

nav {
    display: flex;
    flex-direction: row;
    font-size: 1.5vw;
    font-weight: bold;
    justify-content: space-evenly;
}

nav a {
    width: 25%;
    padding: 12px 0px 12px 0px;
}

nav a:hover {
    background: #3f4f4f;
}

div.content {
    display: flex;
    background-color: #2f3f3f;    
    min-height: 100%;
}

footer {
    display: flex;
    height: 20vh;
    border: 1px solid #000;
    align-items: center;
    padding: 0vw 0vw 0vw 10vw;
}


/* home */
p.introduction {
    padding: 32px;
}

/* about */

/* contact */
div.contact-logos {
    width: 66vw;
    padding: 1vw  0px;
    background: radial-gradient(#3f4f4f, #2f3f3f 70%);
    display: flex;
    margin: 30vh auto 0 auto;
    justify-content: space-evenly;
}

div.contact-logos img {
    width: 5vw;
    height: 5vw;
    transition: 0.5s;
}

/*https://thebrandsmen.com/css-image-hover-effects/ 28.09.2021*/
div.contact-logos img:hover {
    -webkit-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
    transition: 0.5s ease;
}

/* canvas */
main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
}


canvas {
    border: 1px solid #000;
}
